<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/sockjs.min.js"></script>
    <script src="/js/stomp.min.js"></script>
    <title>Game</title>
    <style>
        .quadrado{
            width: 30px;
            height: 30px;
            background: gray;
            margin: 10px;
        }
        .green{
            background: green;
        }
        .red{
            background: red;
        }
        #tabuleiro{
            display: flex;
            flex-wrap: wrap;
        }

    </style>
    <script>
        var stompClient = null;
        var jogador = null;

        function selectJogador(i){
            jogador = i;
        }
        function connect() {
            var socket = new SockJS('/gs-guide-websocket');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/greetings/sala01', function (greeting) {
                    showGreeting(JSON.parse(greeting.body).content);
                });
            });
        }
        function showGreeting(message) {
            var obj = JSON.parse(message);
            box = document.getElementById(obj.posicao);
            if(box.classList.length >= 2){
                console.log('Posicao ja preenchida!')
            }
            else if(obj.jogador != jogador){
                box.classList.add("red");
            }
            else{
                box.classList.add("green");
            }

        }
        function clickBox(evento){
            stompClient.send(`/app/hello/sala01`, {}, JSON.stringify({'jogador': jogador, 'posicao':evento.currentTarget.id}));
        }
        function criarTabuleiro(){
            for(var i = 0; i <= 30; i ++){
                var div = document.createElement("div");
                div.setAttribute("class","quadrado");
                div.setAttribute("id", `${i}`);
                div.addEventListener("click",clickBox);
                document.getElementById('tabuleiro').appendChild(div);
            }
        }
    </script>
</head>
<body onload="criarTabuleiro();connect();">
<button onclick="selectJogador(1)">Jogador 1</button>
<button onclick="selectJogador(2)">Jogador 2</button>
    <main>
        <div id="tabuleiro">
        </div>
    </main>
</body>
</html>
