<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jogo da Velha</title>
    <script>
        function entrarLoby(){
            nome = document.getElementById("nome")
            sala = document.getElementById("sala")
            window.localStorage.setItem("nome",nome.value);
            window.open("http://localhost:8081/lobby/"+sala.value);
        }
    </script>
</head>
<body>
  <form>
      Jogador nome: <input type="text" id="nome">
      Sala: <input type="text" id="sala">
      <button onclick="entrarLoby()">Entrar</button>
  </form>
</body>
</html>
